@model TigerShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

@*<div class="card" style="width: 18rem;">
  <img src="/Products/Tiger.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Products">Back to shop</a>
  </div>
</div>*@

<div class="card" style="width: 18rem;">
  <img src="/Products/Tiger.png" class="card-img-top" alt="En tiger tröja">
  <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.ProductName)</h5>
        <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
  </div>
  <ul class="list-group list-group-flush">
        <li class="list-group-item">Pris: @Html.DisplayFor(model => model.ProductPrice)kr </li>
    <li class="list-group-item">Färg: @Html.DisplayNameFor(model => model.Color)</li>
        <li class="list-group-item">Storlek: @Html.DisplayFor(model => model.Size) </li>
  </ul>
  <div class="card-body">
     <a class="btn btn-primary" asp-action="Index" asp-controller="Products">Back to shop</a>
     <a class="btn btn-primary" asp-action="Index" asp-controller="Carts">Cart</a>
  </div>
</div>

<h4></h4>

@*<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
    </dl>
</div>
@*  @*  <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |*@
   @* <a asp-action="Index">Back to shop</a>
</div>*@