@model IEnumerable<TigerShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>WebbShop</h1>


@*<p>
  @*  <a asp-action="Create">Create New</a>*@
</p>
@*<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>**@
@foreach (var item in Model) {
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="/Products/Tiger.png" class="card-img-top" alt="En tiger tröja">
      <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => item.ProductName)</h5>
            <p class="card-text"> @Html.DisplayFor(model => item.ProductPrice)kr</p>
      </div>
      <div class="card-body">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
         <a class="btn btn-primary" asp-action="Index" asp-controller="Carts">Cart</a>
         </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="/Products/Tiger.png" class="card-img-top" alt="En tiger tröja">
      <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => item.ProductName)</h5>
            <p class="card-text"> @Html.DisplayFor(model => item.ProductPrice)kr</p>
      </div>
      <div class="card-body">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
         <a class="btn btn-primary" asp-action="Index" asp-controller="Carts">Cart</a>
         </div>
      </div>
    </div>
  </div>


@*            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>*@

     @*         @*  <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |*@
               @* <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>*@
  @*              <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>*@
            
        
}
    </tbody>
</table>
